.btn {
    border: 0;
    color: $saging;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 1rem 4rem;
    border-radius: 0;
}
.btn-primary {
    background: $uling;
    &:hover {
        background: #000;
    }
}