.illustration-panel {
    position: relative;
    background: $lemonsito;
    @media screen and (min-width: 993px) {
        background: url('/public/images/illu5.png') no-repeat top right;
        background-size: cover;

    }
    .img-logo {
        width: 100px;
    }
    .main-subtitle {
        p {
            margin: 0;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 6px;
        }
    }
    #triangle-bottomleft {
        width: 0;
        height: 0;
        border-bottom: 1000px solid $lemonsito;
        border-right: 70vw solid transparent;
        position: absolute;
        z-index: 0;
        bottom: 0;
        @media screen and (max-width: 992px) {
            border-bottom: 0 solid transparent;
            border-right: 0 solid transparent;
        }
    }
    #triangle-topright {
        width: 0;
        height: 0;
        border-top: 800px solid $lemonsito;
        border-right: 70vw solid transparent;
        position: absolute;
        z-index: 0;
        top: 0;
        @media screen and (max-width: 992px) {
            border-bottom: 0 solid transparent;
            border-right: 0 solid transparent;
        }
    }
}
.event-panel {
    background: $lemonsito;
    .event-info {
        p {
            line-height: .9em;
            font-size: 1.3em;
        }
    }
}
.about-panel {
    position: relative;
    z-index: 999;
    background: $uling;
    .container {
        position: relative;
    }
    .stamp {
        position: absolute;
        right: 40px;
        width: 135px;
    }
    .arrows {
        position: absolute;
        right: 0;
        width: 108px;
        bottom: 0;
    }
}

.speakers-panel {
    background: $sikwati;
    @import 'src';
    .container {
        .diamonds {
            margin-bottom: -200px;
            margin-top: 80px;
            & [class*=' col-'] {
                .diamonds-title {
                    background: $lemonsito;   
                }

            }
            // small viewport
            @media (max-width: 768px) {
                margin-bottom: 0;
                & [class*=' col-'] {
                    display: flex;
                    justify-content: center;
                    .diamonds-item {
                        width: 80%;
                        right: auto;
                        left: auto;
                    }
                }
            }
            // medium viewport
            @media (min-width: 768px) and (max-width: 995px) {
                margin-bottom: 0;
                
            }

            // large viewport
            @media (min-width:996px) {
                .diamond-1 {
                    left: 45px;
                    top: 2px;
                }
                .diamond-2 {
                    top: -76px;
                    right: 70px;
                }
                .diamond-3 {
                    top: -76px;
                    right: 22px;
                }
                .diamond-4 {
                    top: -76px;
                    left: 22px;
                }
                .diamond-5 {
                    top: -152px;
                }
                .diamond-6 {
                    top: -152px;
                    left: 46px;
                }
                .diamond-last {
                    top: -228px;
                    left: 10px;
                }
            }
        }
    }
    .diamond-last {
        .diamond-center.diamonds-item {
            left: 100%;
            @media (max-width: 990px) {
                left: -25%;
            }
        }
    }
    
    
}
.venue-panel {
    background: url('/public/images/bg_tickets.png') no-repeat top left ,$lemonsito;
    background-size: cover;
    .school-background {
        position: absolute;
        margin-top: -80px;
    }
    .venue {
        a {
            color: #fff;
        }
    }
}
.tickets-panel {
    background: url('/public/images/bg_diamond_cropped.png') no-repeat 100% 180% , $sikwati;
    // Small devices (landscape phones, less than 768px)
    @media (max-width: 767px) { 
        .tickets {
            & > * {
                margin-bottom: 30px;
            }
        }
    }
    .ticket-item {
        h5 {
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}

.payment-panel {
    background: $uling;
    h4,h5 {
        font-family: 'Fjalla One', sans-serif;
        text-transform: uppercase;
        color: #fff;
    }
}

.contact-panel {
    background: $lemonsito;
    h4,h5 {
        font-family: 'Fjalla One', sans-serif;
        text-transform: uppercase;
        color: #fff;
    }
    .contact-list {
        p {
            line-height: .8em;
        }
    }
}

@media (max-width: 767px) {
    .half-section {
        margin-bottom: 40px;
    }
}

.sponsor-panel {
    background: url('/public/images/bg_diamond.png') -1200px -100px no-repeat, $sikwati;
    .sponsor-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        h3 {
            margin-bottom: 20px;
        }
    }
    .sponsor-thumbnail {
        background: #fff;
        height: 180px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 40%
        }
    }
    .sponsor-thumbnails {
        display: flex;
        @media screen and (max-width: 993px) {
            flex-direction: column;
            .sponsor-thumbnail {
                margin: 20px 0 !important;
            }
        }
        .sponsor-thumbnail {
            margin: 0 20px;
        }
    }
}