.photo,
.photo.multiple,
.photo.rhombus,
.photo.square {
    position: relative
}

.diamonds {
    margin-top: 100px;
    margin-bottom: 25px
}

.diamonds [class*=' col-'] {
    padding: 0 8px
}

.diamonds [class*=' col-'] .diamonds-item {
    display: block;
    padding: 0;
    left: -25%;
    top: -25%;
    width: 150%;
    overflow: hidden;
    position: relative;
    box-shadow: none
}

.diamonds [class*=' col-'] .diamonds-item .diamonds-item-text {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    text-align: center
}

.diamonds [class*=' col-'] .diamonds-item .diamonds-item-text>div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.diamonds [class*=' col-'] .diamonds-item .diamonds-item-text .vcenter-flex>* {
    padding: 40px;
    margin: 0
}

.diamonds [class*=' col-'] .diamonds-item.photo img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.diamonds [class*=' col-'] .diamonds-item.photo .diamonds-item-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0
}

.diamonds [class*=' col-'] .diamonds-item.photo:hover .diamonds-item-text {
    opacity: 1
}

.diamonds [class*=' col-'] .diamonds-item.diamonds-button {
    transition: all .3s ease-out
}

.diamonds [class*=' col-'] .diamonds-item.diamonds-button * {
    color: #cb1a33
}

.diamonds [class*=' col-'] .diamonds-item.diamonds-button:hover * {
    color: #fff
}

.diamonds .col-6 {
    width: 34.5%;
    margin: -16% 7.7% -7.7%
}

.diamonds .col-6:nth-child(3n) {
    margin-left: 33%
}

@media screen and (max-width:767px) {
    .diamonds .diamonds-title * {
        font-size: 20px
    }
    .diamonds .diamonds-button h3 {
        font-size: 20px;
        padding: 40px 20px!important
    }
}

@media screen and (min-width:768px) {
    .diamonds [class*=' col-'] {
        padding: 0 10px
    }
    .diamonds .col-sm-4 {
        width: 23%;
        margin: -11% 5% -5%
    }
    .diamonds .col-6:nth-child(3n) {
        margin-left: 5%
    }
    .diamonds .col-sm-4:nth-child(5n+4) {
        margin-left: 21.5%
    }
}

@media screen and (min-width:990px) {
    .diamonds {
        margin-top: 0
    }
    .diamonds [class*=' col-'] {
        padding: 5px
    }
    .diamonds .col-md-3 {
        width: 17%;
        margin: -8.5% 4% -4%
    }
    .diamonds .col-md-3:nth-child(1) {
        margin-left: 16.5%;
        margin-bottom: -3%
    }
    .diamonds .col-md-3:nth-child(2) {
        clear: left
    }
    .diamonds .col-6:nth-child(3n),
    .diamonds .col-sm-4:nth-child(5n+4) {
        margin-left: 4%
    }
    .diamonds .col-md-3:nth-child(7n+6) {
        margin-left: 16.5%
    }
}

.photo.bg-primary>a:hover img,
.photo>a.bg-primary:hover img,
a.photo.bg-primary:hover img {
    opacity: .35;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}