

.vcenter {
    display: table;
    width: 100%;
    height: 100%
}

.vcenter .contents {
    display: table-cell;
    vertical-align: middle
}

.vcenter-flex {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center
}

.diagonals:after,
.diagonals:before {
    content: '';
    display: block;
    width: 50%
}

.diamonds [class*=' col-'] .diamonds-item.diamonds-button:hover,
.diamonds [class*=' col-'] .diamonds-title {
    background: #e84960
}


.diamonds {
    margin-top: 100px;
    margin-bottom: 25px
}

.diamonds [class*=' col-'] {
    padding: 0 8px
}

.diamonds [class*=' col-'] .diamonds-item {
    display: block;
    padding: 0;
    left: -25%;
    top: -25%;
    width: 150%;
    overflow: hidden;
    position: relative;
    box-shadow: none
}

.diamonds [class*=' col-'] .diamonds-item .diamonds-item-text {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    text-align: center
}

.diamonds [class*=' col-'] .diamonds-item .diamonds-item-text>div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.diamonds [class*=' col-'] .diamonds-item .diamonds-item-text .vcenter-flex>* {
    padding: 40px;
    margin: 0
}

.diamonds [class*=' col-'] .diamonds-item.photo img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.diamonds [class*=' col-'] .diamonds-item.photo .diamonds-item-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0
}

.diamonds [class*=' col-'] .diamonds-item.photo:hover .diamonds-item-text {
    opacity: 1
}

.diamonds [class*=' col-'] .diamonds-item.diamonds-button {
    transition: all .3s ease-out
}

.diamonds [class*=' col-'] .diamonds-item.diamonds-button * {
    color: #cb1a33
}

.diamonds [class*=' col-'] .diamonds-item.diamonds-button:hover * {
    color: #fff
}

.diamonds .col-6 {
    width: 34.5%;
    margin: -16% 7.7% -7.7%
}

.diamonds .col-6:nth-child(3n) {
    margin-left: 33%
}

@media screen and (max-width:767px) {
    .diamonds .diamonds-title * {
        font-size: 20px
    }
    .diamonds .diamonds-button h3 {
        font-size: 20px;
        padding: 40px 20px!important
    }
}

@media screen and (min-width:768px) {
    .diamonds [class*=' col-'] {
        padding: 0 10px
    }
    .diamonds .col-sm-4 {
        width: 23%;
        margin: -11% 5% -5%
    }
    .diamonds .col-6:nth-child(3n) {
        margin-left: 5%
    }
    .diamonds .col-sm-4:nth-child(5n+4) {
        margin-left: 21.5%
    }
}

@media screen and (min-width:990px) {
    .diamonds {
        margin-top: 0
    }
    .diamonds [class*=' col-'] {
        padding: 5px
    }
    .diamonds .col-md-3 {
        width: 17%;
        margin: -8.5% 4% -4%
    }
    .diamonds .col-md-3:nth-child(1) {
        margin-left: 16.5%;
        margin-bottom: -3%
    }
    .diamonds .col-md-3:nth-child(2) {
        clear: left
    }
    .diamonds .col-6:nth-child(3n),
    .diamonds .col-sm-4:nth-child(5n+4) {
        margin-left: 4%
    }
    .diamonds .col-md-3:nth-child(7n+6) {
        margin-left: 16.5%
    }
}


.photo,
.type {
    margin: 0 0 10px
}

.sneak-edit {
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    border-radius: 2px;
    padding: 8px 16px;
    position: fixed;
    bottom: 12px;
    left: 12px;
    line-height: 22px;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    transition: all .15s ease-out;
    color: #748885;
    z-index: 20000;
    background: #fff
}

.photo,
.photo.multiple,
.photo.rhombus,
.photo.square {
    position: relative
}

.sneak-edit:hover {
    text-decoration: none;
    color: #3aa3e3;
    background: #fff
}

.photo {
    display: block;
    border: 10px solid #fff
}

.photo:after {
    display: table;
    clear: both
}

.box,
.box .icon,
.box .title,
.photo img,
label,
legend {
    display: block
}

.photo img {
    width: 100%;
    height: auto
}

.photo.square {
    height: 0;
    padding-bottom: 100%;
    background: #f8f8f8
}

.photo.rectangle {
    padding-bottom: 50%
}

.photo.rhombus {
    border: 0;
    background-color: #fff;
    padding: 6px;
    overflow: hidden
}

.photo.multiple .image {
    float: left;
    width: 50%;
    overflow: hidden
}

.photo.multiple .image img {
    width: 200%;
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%)
}

.photo>a,
a.photo {
    overflow: hidden
}

.photo>a img,
a.photo img {
    transition: all .3s ease-out
}

.photo>a:hover img,
a.photo:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.photo.bg-primary>a:hover img,
.photo>a.bg-primary:hover img,
a.photo.bg-primary:hover img {
    opacity: .35;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.frame {
    position: absolute;
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 30px
}

.post-listing .post {
    margin-bottom: 30px;
    min-height: 220px
}

.bg-primary {
    background: linear-gradient(-180deg, #276958 0, #1b4d40 100%) #276958
}

.bg-primary * {
    color: #fff
}

.bg-primary.edge-both {
    background: #1b4d40
}

.bg-primary.edge-both:before {
    background: linear-gradient(-180deg, #276958 0, #1b4d40 100%) #1b4d40
}

.bg-primary.edge-both:after {
    background: linear-gradient(-180deg, #1b4d40 0, #276958 100%) #1b4d40
}

#header .links,
.mobile-only {
    display: none
}



.rhombus, .rhombus img {
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
